<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>

        <service id="PhallosanCustomizations\Controller\LanguageSwitchController"
                 public="true">
            <call method="setContainer">
                <argument type="service" id="service_container"/>
            </call>
            <call method="setTwig">
                <argument type="service" id="twig"/>
            </call>
            <argument type="service" id="Shopware\Core\Checkout\Customer\SalesChannel\AccountService"/>
            <argument type="service" id="Shopware\Core\Checkout\Customer\SalesChannel\LogoutRoute"/>
            <argument type="service" id="Shopware\Core\System\SalesChannel\Context\SalesChannelContextFactory"/>
            <argument type="service" id="PhallosanCustomizations\Service\LanguageChannelSwitchService"/>
        </service>

        <service id="PhallosanCustomizations\Service\LanguageChannelSwitchService"
                 public="true">
            <argument type="service" id="sales_channel_domain.repository"/>
            <argument type="service" id="seo_url.repository"/>
            <argument type="service" id="country.repository"/>
            <argument type="service" id="product.repository"/>
            <argument type="service" id="Shopware\Core\Content\Product\Cart\ProductGateway"/>
            <argument type="service" id="Shopware\Core\System\SalesChannel\Context\SalesChannelContextFactory"/>
        </service>
    </services>
</container>
