
.accessory-requirement-order-detail-info-header {
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
}

.accessory-requirement-order-detail-info {
    color: #52667a;
    font-size: 14px;
}

.accessory-requirement-description {
    font-weight: normal;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d1d9e0;
}

.accessory-requirement-order-detail-info dt {
    padding: 21px 4px 4px
}

.accessory-requirement-order-detail-info dd {
    padding: 1px 4px
}

.accessory-requirement-order-detail-info dd .sw-field {
    margin-bottom: 0;
}
